<h1>{{titulo}}</h1>
<p></p>
<p></p>

<div class="container">
  <div class="col" style="text-align: center;">
    <h1>{{titulo}}</h1>
  </div>
  <br><br>
  <form class="form-group row">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="nombre" class="from-control" [(ngModel)]="cuadroNombre">
    </div>
    <div class="form-group col-md-3">
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido" placeholder="apellido" class="from-control" [(ngModel)]="cuadroApellido">
    </div>
    <div class="form-group col-md-3">
      <label for="cargo">Cargo:</label>
      <input type="text" name="cargo" id="cargo" placeholder="cargo" class="from-control" [(ngModel)]="cuadroCargo">
    </div>
    <div class="form-group col-md-3">
      <label for="salario">Salario:</label>
      <input type="text" name="salario" id="salario" placeholder="salario" class="from-control" [(ngModel)]="cuadroSalario">
    </div>
  </form>
</div>

<p></p>
<p></p>
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let empleado of empleados; let i=index">
        {{i+1}}: {{empleado.nombre}} {{empleado.apellido}} {{empleado.cargo}} {{empleado.salario}};
      </div>
    </div>
  </div>
</div>
